.flx-other-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .flx-keepers {
    flex: 1 0;
    margin-right: 10px;
  }

  .flx-keepers:last-child {
    margin-right: 0px;
  }

  .flx-keepers-my {
    min-width: 320px;
    /* workaround: discard pile hidden height sometimes prevents keeper tooltips/selection? */
    /* but be sure to stay under the z-index of the BGA zoom icon (949) */
    z-index: 99;
  }

  .flx-keepers-other {
    min-width: 320px;
    max-width: 440px;
  }
}
